---
layout: default
---
<!DOCTYPE html>
<html>
<body>
  <meta charset="utf-8">
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 style="color:Teal"> Welcome to my home page!</h3>
    <p> I'm PhD candidate in economics at the <a href="https://sceco.umontreal.ca/english/home/"> University of Montreal </a>. I'm on the 2021-2022 job market. </p>
     <p> Can a Two-Agent New Keynesian model, also known as TANK, approximate a Heterogeneous Agents New Keynesian (HANK) model in terms of its response to a monetary policy shock? In this paper, I show that the answer depends on the source of nominal rigidities. If prices are sticky, the answer is yes, as shown by Debortoli and Gali (2018). If wages are sticky, the answer is no, as shown in this paper. To make that point, I show that the TANK model with wage rigidities only is equivalent, in terms of aggregate variables, to the RANK (Representative Agent New Keynesian) model. For TANK with both price and wage rigidities, I show numerically that TANK does not approximate HANK.</p>
       <p> My Research focuses on the implication of income and wealth inequality for monetary and fiscal policies with a focus on financial crisis.</p> 
         <p> Please see my <a href="https://github.com/ghislainafavi/ghislainafavi.com/blob/gh-pages/CV_AFAVI.pdf/"> CV </a> for more details.</p>
      </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpeg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
</body>
</html>
