---
layout: default
---
<!DOCTYPE html>
<html>
<body>

  
  <div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>   <a href="https://guillaumesublet.github.io/"> Guillaume Sublet</a> (chair)</h5>
    <p>Université de montréal</p>
     <p>Department of economics</p>
    <p style="font-size:160%;">3150, Jean-Brillant street</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Tel: +1 438 405 6142</p>
     <p>guillaume.sublet@umontreal.ca</p>
  </div>
  <div class="col-md-6">
    <h5>   <a href="https://www.julienbengui.com/"> Julien Bengui</a> (co-chair)</h5>
     <p>Bank of Canada</p>
     <p>Senior research Advisor</p>
     <p>234 Wellington Streeta</p>
     <p>Ottawa, Ontario K1A 0G9, Canada</p>
     <p>Tel: +1 613 782 7064</p>
     <p>jbengui@bankofcanada.ca</p>
          </div>
     <div class="col-md-6">
       <h5 style="color:Teal">Emanuela Cardia</h5>
    <p>Université de montréal</p>
     <p>Department of economics</p>
     <p>3150, Jean-Brillant street</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Tel: +1 514 343 6111 #42831</p>
     <p>emanuela.cardia@umontreal.ca</p>
     </div>
  </div>

</body>
</html>

  
