---
layout: default
---
<!DOCTYPE html>
<html>
<body>

<div class="row">
  <div class="column">
    <h2>Guillaume Sublet (chair)</h2>
    <p>Université de montréal</p>
     <p>3150, Jean-Brillant street</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Tel: +1 438 405 6142</p>
     <p>guillaume.sublet@umontreal.ca</p>
    </div>
  <div class="column">
    <h2>Julien Bengui (co-chair)</h2>
    <p>Université de montréal</p>
     <p>3150, Jean-Brillant street</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Tel: +1 438 405 6142</p>
     <p>guillaume.sublet@umontreal.ca</p>
     </div>
  <div class="column">
    <h2>Emanuela Cardia</h2>
    <p>Université de montréal</p>
     <p>3150, Jean-Brillant street</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Montreal,QC, H3C 3J7, Canada</p>
     <p>Tel: +1 438 405 6142</p>
     <p>emanuela.cardia@umontreal.ca</p>
   
  </div>
</div>

</body>
</html>

  
