---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 style="color:Teal"> Working Papers</h3>
    <p> Data analysis for economists (undergraduate), Fall 2019, Winter 2020, Fall 2020 </p>
     <p> Introduction to macroeconomics (undergraduate), Winter 2021 </p>
   </div>
  <div class="col-md-12">
  <h3 style="color:Teal">Works in progress</a></h3>
  <p>  Financial instability, price instability, and inequality  </p>
 <p>US repo market and fiscal policy, with Carolyn Sissoko </p> 
   </div>
  
