---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 style="color:Teal"> Working Papers</h3>
    <p> Monetary policy, sticky wages, and household heterogeneity, 2021,  <a href="https://github.com/ghislainafavi/ghislainafavi.com/blob/gh-pages/HANK_TANK_Afavi.pdf">  Pdf</a>    <a href="https://github.com/ghislainafavi/ghislainafavi.com/blob/gh-pages/HANK_TANK_slides_Afavi.pdf"> Slides</a>  </p>
   <p> Sudden stops, asset prices: the role of a limited fionancial market participation, 2021,  <a href="https://github.com/ghislainafavi/ghislainafavi.com/blob/gh-pages/Suddenstops_Slides_Afavi.pdf"> Pdf</a>  <a href="https://github.com/ghislainafavi/ghislainafavi.com/blob/gh-pages/Suddenstops_Slides_Afavi.pdf"> Slides</a>  </p>
  </div>
  <div class="col-md-12">
  <h3 style="color:Teal">Works in progress</a></h3>
  <p>  Financial instability, price instability, and inequality  </p>
 <p>US repo market and fiscal policy, with Carolyn Sissoko </p> 
   </div>
  
